pandas==1.5.3
pandas_datareader==0.10.0
tqdm==4.65.0
statsmodels==0.13.5
torchvision==0.10.0+cu111
networkx==2.5
yfinance==0.2.18
scipy==1.9.1
numpy==1.23.5
seaborn==0.11.0
torch==1.9.0+cu111
~atplotlib==3.3.2
matplotlib==3.7.1
scikit_learn==1.2.2
secrets==1.0.2
